{% extends "base.html" %}
{% load i18n %}

{% block content %}

{% if loser %}
<h1>Losers can not enter any more teams until the next series starts</h1>

{% endif %}

<h4>{{ series.series_name }}</h4>
    {% if not series.series_open %}
        <h5>This is now closed</h5>
        <p>{{ series.end_message }}</p>
    {% endif %}

    {% if series.series_open %}
        <h4>This is still open - what fun</h4>
        <p>Cost of entry £{{ series.entry_cost }} with a added roll-over of £{{ series.rollover }} <p>
    {% endif %}

    {% if round_f %}
        <h4>Rounds</h4>
        {% for round in round_f %}
            <div class="panel panel-default">
            {% if round.round_open %}
                <div class="panel-heading"><h4 class="panel-title"><a href="{% url 'manage_prediction' series.id round.id %}">Round still open until {{ round.round_date }} - enter your selection</a></h4></div>
                <div class="panel-body">
                {% if round.staff_predictions %}
                    <p>Website staff predictions are show ahead of the end date - so you can see no cheating</p>
                    <ul>
                    {% for prediction in round.staff_predictions %}
                        <li>{{ prediction.user }}, picked {{ prediction.team }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endif %}

            {% if not round.round_open %}
                <div class="panel-heading"><h4 class="panel-title">{{ round.round_date }} - Round Closed</h4></div>
                <div class="panel-body">
                {% for prediction in round.prediction_set.all %}
                    <ul><li>{{ prediction.user }}, picked {{ prediction.team }}, which {{ prediction.failed|yesno:"was Nil Nil!,had a goal,maybe - just maybe" }}</li></ul>
                {% endfor %}
            {% endif %}
            {% if user.is_staff %}
                <p><a href="{% url 'manage_nilnils' series.id round.id %}">Staff Only, mark games NilNil for {{ round.round_date }}</a></p>
                <p><a href="{% url 'missing_prediction' series.id round.id %}">Staff Only, mark missing prediction for {{ round.round_date }}</a></p>
                <p><a href="{% url 'ping_email_message' series.id round.id %}">Staff Only, send out email for {{ round.round_date }}</a></p>
            {% endif %}

            </div>
            </div>
        {% endfor %}
    {% endif %}


{% endblock %}
